{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron text-center">
		<br>
		<h1>Pomodoro Tracker V1.0</h1>
		<br>
		<p class="lead">Set your own custom pomodoro-timers, schedule breaks, organise todo-tasks and more.</p>
		<hr>
		<br>
		{% if current_user.is_authenticated %}
			<a href="/pomodoro" class="btn btn-primary btn-lg">Return to App</a>
		{% else %}
			<a href="/signup" class="btn btn-primary btn-lg">Register</a>
			<a href="{{ url_for('main.login') }}" class="btn btn-success btn-lg">Login</a>
		{% endif %}
	</div>

{% endblock %}